@font-face {
  font-family: 'siteorigin-corp-icons';
  src:  url('fonts/siteorigin-corp-icons.eot?pvii92');
  src:  url('fonts/siteorigin-corp-icons.eot?pvii92#iefix') format('embedded-opentype'),
    url('fonts/siteorigin-corp-icons.ttf?pvii92') format('truetype'),
    url('fonts/siteorigin-corp-icons.woff?pvii92') format('woff'),
    url('fonts/siteorigin-corp-icons.svg?pvii92#siteorigin-corp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'siteorigin-corp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e91f";
}
.icon-angle-down:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91b";
}
.icon-long-arrow-right:before {
  content: "\e900";
}
.icon-long-arrow-left:before {
  content: "\e901";
}
