/*
Theme Name: blooster
Theme URI: http://www.logoholique.com/blog/blooster-free-wp-theme/
Author: Matija Begonja
Author URI: http://www.logoholique.com
Description: Blooster is masonry style, infinite scroll clear blogging theme.
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: left-sidebar, post-formats, grid-layout, custom-background, translation-ready, blog
Text Domain: blooster


This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

blooster is based on Underscores http://underscores.me/ (C) 2012-2016 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/



@import "layouts/sidebar-content.css";
@import "layouts/child.css";

.box-show{
        width:100%;
        height:50px;
        background-color: #2ecc71;
        padding: 0 0 0 15px;
        font-size: 24px;
}
.download-me{
        width:180px;
        height:50px;
        float:right;
        padding:7px 0 0 0;
        border-right:1px solid white;
}
.iks{
        width: 50px;
        height:50px; 
        float:right;
        padding:7px 10px 0 15px;
}

html {  
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
        font-size: 62.5%;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
}

body {
	margin: 0;
        background: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
        max-width:100%;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


body,
button,
input,
select,
textarea {
	color: #2C3E50;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
        font-family: 'Droid Serif', serif;
        color:#2C3E50;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

cite:before {
        content:"- ";
}


blockquote {
	font-style: italic;
        font-size: 120%;
        padding: 1em 0 1em 1em;    
}

blockquote p:before {
        font-family: FontAwesome;
        content:"\f10d";
        font-size: 1.5em;
        font-style: normal;
        float: left;
        padding: 0 1em 0 0; 
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #EBEBEC;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
        font-weight: 600;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
        color: #666;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}


html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #ffffff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.theline {
        width: 5em;
        alignment-adjust: central;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #bdc3c7;
	border-radius: 1.5em;
	background: #ffffff;
	color: rgba(0, 0, 0, .8);
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 0.5em 1em 0.5em 1em;
        -o-transition:border .2s ease-out; 
        -ms-transition:border .2s ease-out; 
        -moz-transition:border .2s ease-out; 
        -webkit-transition:border .2s ease-out;
        transition:border .2s ease-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #2C3E50;
	
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #2C3E50;
	
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0.1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0.5em;
}

textarea {
	padding-left: 0.5em;
	width: 100%;
}



.tags-links a{
        padding: 0.3em;
}

.tags-links a:before {
        content: "#";
}

#site-navigation .menu{
        float: left; 
}

.main-navigation {
        float: left;    
}


a {
	color: #2C3E50;
        text-decoration: none;
}

a:visited {
	color: #2C3E50;
}

a:hover,
a:focus,
a:active {
	color: #2C3E50;
        text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


.main-navigation {
        padding-top: 2.2em;
}

.main-navigation ul {
        list-style: none;
	margin: 0;
	list-style: none;
	margin: 0;
	padding-left: 0;
        text-transform:uppercase;
}

.main-navigation li {
	float: left;
	position: relative;
        padding: 0 0.5em;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
        background: #ffffff;
        text-transform: none;
        line-height: 2.5em;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}


.menu-toggle {
	display: none;
}

@media screen and (max-width: 670px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

nav.navigation,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
        padding: 3em 0;
	overflow: hidden;
        width: 100%;
        min-height: 3em;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.site-info {
        padding:1em 0;
}

.widget {
	margin: 0 0 3em 0;
}


.widget select {
	max-width: 100%;
}


.widget_search .search-submit {
	display: none;
}

.widget ul li{
	margin-left: -5.5em;
        display: block;
        line-height: 1.5em;
}

.widget ul ul li{
	margin-left: -3em!important;
}

.widget-title {
        color: #bdc3c7;
}


.widget .cat-item {
        text-transform:uppercase; 
        display: block;
        margin-left: -5.5em;
}

.widget .cat-item a:link {
        padding: 0.5em 1em 0.5em 1em;
        border: 1px solid #bdc3c7;
        border-radius: 1.5em;
        line-height: 3em;
        -o-transition:border .2s ease-out; 
        -ms-transition:border .2s ease-out; 
        -moz-transition:border .2s ease-out; 
        -webkit-transition:border .2s ease-out;
        transition:border .2s ease-out;
}

.widget .cat-item a:visited {
        border: 1px solid #bdc3c7;
}

.widget .cat-item a:hover {
        border: 1px solid #2C3E50;
        text-decoration: none;
}


.widget select {
        border: 1px solid #bdc3c7;
        width: 60%;
        height: 2em;
}


.widget_calendar {
        width:60%;
}

.widget_calendar th {
        text-align: left;
}

.widget_calendar #prev,
.widget_calendar #next {
        padding: 0.5em 0 0 0;
}

.widget_calendar caption {
        padding: 0 0 0.5em 0;
}


.widget .tagcloud a:link:before {
        content: "#";        
}

.widget .tagcloud a:link,
.widget .tagcloud a:visited {
        padding: 2px 3px ;
        line-height: 2em;
        color: #ffffff;
        background: #e74c3c;
        border-radius: 2px;
        font-size: 16px!important;
}

.widget .tagcloud a:hover {
        background-color: #c0392b;
}

.widget_archive li:before,
.widget_recent_entries li:before,
.widget_recent_comments li:before {
        font-family: FontAwesome;
        content:"\f105";
        padding-right: 0.5em;
}



#page{
        width:auto;
}

#masthead {
        width: 100%;
        padding: 0 0 0 2%;
        background: #ffffff;
        border-bottom: 1px solid #ECF0F1;
        position: relative;
}

.site-description {
        display:none;
}

#content {
        width: auto;
        margin-left: 3em;
        clear: both;
}

.post-main .post {
        width: 55em!important;
}

.site-branding { 
        float: left;
}

.site-title {
        padding-right: 1em;
}

.blooster-box {
	width: 380px; 
	padding: 1em 0.9em 1em 0.9em;
	margin: 0 1.5em 0 1.5em;
        display:inline-block;
}
.blooster-box p {
    text-align: justify;
}

.blooster-box img { 
	width: 340px;
        height: auto;
	margin: 1.5em auto 0 auto;
        display: block;
        text-align: left;
 }

.blooster-box iframe {
        width: 100%;
        height: auto !important;
        padding-bottom: 0.5em;
}


.blooster-box .linkpost a:link,
.blooster-box .linkpost a:visited {
        padding: 0.5em 1em 0.5em 1em;
        border: 2px dashed #e74c3c;
        border-radius: 0.5em;
        line-height: 4em;
        -o-transition:border .2s ease-out; 
        -ms-transition:border .2s ease-out; 
        -moz-transition:border .2s ease-out; 
        -webkit-transition:border .2s ease-out;
        transition:border .2s ease-out;
}

.blooster-box .linkpost a:hover {
        border: 2px dashed #c0392b;
        text-decoration: none;
        color: #c0392b;
}

span.readmore a {
        float:right;
        padding: 0.5em 1em 0.5em 1em;
        border: 1px solid #bdc3c7;
        border-radius: 1.5em;
        font-size: 1em;
        -o-transition:border .2s ease-out; 
        -ms-transition:border .2s ease-out; 
        -moz-transition:border .2s ease-out; 
        -webkit-transition:border .2s ease-out;
        transition:border .2s ease-out;
}

span.readmore a:hover,
span.readmore a:active {
        border: 1px solid #2C3E50;
        text-decoration: none;        
}

.sticky .stx {
        display: none!important;
}

.sticky .entry-title:before {
        font-family: FontAwesome;
        content:"\f024";
        padding: 0 0.5em 0 0;
}

#masthead.menu_sticky {
        opacity: 0.1;
        padding: 0 0 0 2%!important;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0 0;
}
.page-header{
        width:auto;
}
.tittle-position{
        margin:0 0 0 400px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em 0;
}
.page-single{
        width: 55em!important;
}
.home-main {
        width: auto !important;
}

.entry-footer {
        margin: 2em 0 3em 0;
        color:#C3C3C3;
}

.entry-footer a {
        color:#A5A5A5;
}
    
.entry-footer .cat-links,
.entry-meta .byline {
        display: none;
}

.entry-meta .posted-on .updated:before {
        font-family: FontAwesome;
        content:"\f133";
        padding: 0 0.3em 0 0;
}

.entry-meta .posted-on {
        padding-right: 0.5em;
}

.entry-meta .comments-link {
        float: right;
}

.entry-meta a{
        color:#A5A5A5;
}

.entry-header h4 a,
.entry-header h4 i{
        color:#A5A5A5;
}

a[rel="category"]{
        text-transform: uppercase;       
}

.post-edit-link:before {
        font-family: FontAwesome;
        content:"\f040";
        padding: 0 0.3em 0 0;
}



.paging-navigation ul {
        margin: 0;
}

.paging-navigation li { 
        display: inline; 
}

a.page-numbers,
span.page-numbers {
        padding: .3em .7em;
        color: #333;
}

a:hover.page-numbers {
        color: #000;
}

.paging-navigation .current {
        font-weight: bold;
        color: #000;
}
 

.paging-navigation {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 2em;
        list-style-type: none;
}           

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


#comments{
        width:55em;
}
.comment-respond {
        padding: 2em 0 0 0;
}

.comment-metadata a {
        color: #bdc3c7;
}

.comment-body {
        border-bottom: 1px solid #EBEBEC;
        padding: 1.5em 0 0 0;
}

.reply {
        float: right;
        padding: 0 0.5em 0.5em  0.5em;
        margin: 0 0.5em 0 0;
        border-top: 1px solid #ffffff;
        border-left: 1px solid #EBEBEC;
        border-right: 1px solid #EBEBEC;
        border-bottom: 1px solid #EBEBEC;
        border-radius: 2px;
       
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area .avatar{
        width: 3.5em;
        height: 3.5em;
        border-radius: 1.6em;
}

label[for="author"]:after,
label[for="email"]:after,
label[for="url"]:after{
     content:"\A"; 
     white-space:pre;   
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
        display: inline-block;
}

.comment-form-author input[type="text"],
.comment-form-email input[type="email"],
.comment-form-url input[type="url"] {
        width: 249px;      
}



.infinite-scroll .posts-navigation, 
.infinite-scroll.neverending .site-footer { 
	display: none;
}


.infinity-end.neverending .site-footer {
	display: block;
}

#infscr-loading{
    width:50%;
    height:100px;
    position:fixed;
    bottom:0;
    background-color:#ffffff;
    text-align: center;
    padding:10px;
    z-index: 1000;
    clear: both;
    
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


embed,
iframe,
object {
	max-width: 100%;
}


.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}


.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


.fa {
    padding: 0 0.5em 0 0;
}



#authorarea {
        width: 55em;
        height: auto;
        padding: 2em 0 2em 0;
        border-top: 1px solid #EBEBEC;
        border-bottom: 1px solid #EBEBEC;
}

#authorarea .avatar{
        width: 6em;
        height: 6em;
        border-radius: 3em;
        float: left;
}

.authorinfo {
        width: 85%;
        position: relative;
        float: left;
        padding: 0 0 0 1em;
}



@media screen and (max-width: 415px) {
    #site-navigation,
    button.menu-toggle {
	width:100%!important;
    }
     .main-navigation{
        padding-top:0;
    }
    .site-branding{
        width:100%;
        text-align: center;
    }
    .site-title{
        padding-right: 0;
    }
    #content{
        margin-left:5px;
    }
    #primary{
        float: left;
	margin: 0 5px 0 5px;
	width: 100%;    
    }
    .site-main {
            margin: 0 5px 0 5px;
    }
    .post{
            width:100%;
    }
    .page{
        width:100%;
    }
    .post-main .post,
    .site-main{
           max-width:100%;
    }
    .home-main{
            margin: 0 5px 0 0;
    }
    .tittle-position{
            margin:2em;
    }
    .blooster-box{
            width:100%;
            padding: 0;
            margin:0;
    }
    #authorarea{
        width: 100%;
    }
    .post-navigation .nav-previous{
            width: 100%;
            border-bottom: 1px solid #ECF0F1;
    }
    .post-navigation .nav-next{
            width: 100%;
    }
    .comment-list {
        margin: 0 0 0 -2em;
    }
    #comments{
        width:100%;
    }
    #infscr-loading{
        width:100%;
    }
    .main-navigation{
	padding-bottom:0;
    }
    .main-navigation li{
	float:none;
	padding:15px;
    }
    .main-navigation ul ul {
	box-shadow: none;
	float: left;
	position: relative;
	top: 1.5em;
	left: 0;
	z-index: 99999;
        background: none;
        text-transform: none;
        line-height: 2.5em;
    }
    .main-navigation ul li ul,
    .main-navigation ul li ul li{
        clear: both;
        display:block;
        float:none;
        left:0;
    }
    
    .main-navigation ul ul li:hover > ul {
	left: auto;
    }
    #masthead.menu_sticky{
        opacity: 1;
    }
    
    .page-single{
        max-width:100%!important;
    }
    
    .entry-content{
        width:100%;
    }
    
}

