
		.ish--tc1 {
			color: #9c27b0;
		}
		
		.ish--tc1 .ish-darken {
			color: #8f1aa3 !important;
		}
		
		.ish--bc1 {
			background-color: #9c27b0;
		}
		.ish--tc2 {
			color: #515151;
		}
		
		.ish--tc2 .ish-darken {
			color: #444444 !important;
		}
		
		.ish--bc2 {
			background-color: #515151;
		}
		.ish--tc3 {
			color: #fcfcfc;
		}
		
		.ish--tc3 .ish-darken {
			color: #efefef !important;
		}
		
		.ish--bc3 {
			background-color: #fcfcfc;
		}
		.ish--tc4 {
			color: #ffffff;
		}
		
		.ish--tc4 .ish-darken {
			color: #f2f2f2 !important;
		}
		
		.ish--bc4 {
			background-color: #ffffff;
		}
		.ish--tc5 {
			color: #7cd3ce;
		}
		
		.ish--tc5 .ish-darken {
			color: #6fc6c1 !important;
		}
		
		.ish--bc5 {
			background-color: #7cd3ce;
		}
		.ish--tc6 {
			color: #1cbbe3;
		}
		
		.ish--tc6 .ish-darken {
			color: #0faed6 !important;
		}
		
		.ish--bc6 {
			background-color: #1cbbe3;
		}
		.ish--tc7 {
			color: #c2bcb5;
		}
		
		.ish--tc7 .ish-darken {
			color: #b5afa8 !important;
		}
		
		.ish--bc7 {
			background-color: #c2bcb5;
		}
		.ish--tc8 {
			color: #5dc4be;
		}
		
		.ish--tc8 .ish-darken {
			color: #50b7b1 !important;
		}
		
		.ish--bc8 {
			background-color: #5dc4be;
		}
		.ish--tc9 {
			color: #dd613b;
		}
		
		.ish--tc9 .ish-darken {
			color: #d0542e !important;
		}
		
		.ish--bc9 {
			background-color: #dd613b;
		}
		.ish--tc10 {
			color: #a1744f;
		}
		
		.ish--tc10 .ish-darken {
			color: #946742 !important;
		}
		
		.ish--bc10 {
			background-color: #a1744f;
		}
		.ish--tc11 {
			color: #37bdb6;
		}
		
		.ish--tc11 .ish-darken {
			color: #2ab0a9 !important;
		}
		
		.ish--bc11 {
			background-color: #37bdb6;
		}
		.ish--tc12 {
			color: #bda949;
		}
		
		.ish--tc12 .ish-darken {
			color: #b09c3c !important;
		}
		
		.ish--bc12 {
			background-color: #bda949;
		}
		.ish--tc13 {
			color: #f3d600;
		}
		
		.ish--tc13 .ish-darken {
			color: #e6c900 !important;
		}
		
		.ish--bc13 {
			background-color: #f3d600;
		}
		.ish--tc14 {
			color: #acde61;
		}
		
		.ish--tc14 .ish-darken {
			color: #9fd154 !important;
		}
		
		.ish--bc14 {
			background-color: #acde61;
		}
		.ish--tc15 {
			color: #f33131;
		}
		
		.ish--tc15 .ish-darken {
			color: #e62424 !important;
		}
		
		.ish--bc15 {
			background-color: #f33131;
		}
		.ish--tc16 {
			color: #4be5c3;
		}
		
		.ish--tc16 .ish-darken {
			color: #3ed8b6 !important;
		}
		
		.ish--bc16 {
			background-color: #4be5c3;
		}
		.ish--tc17 {
			color: #d4c873;
		}
		
		.ish--tc17 .ish-darken {
			color: #c7bb66 !important;
		}
		
		.ish--bc17 {
			background-color: #d4c873;
		}
		.ish--tc18 {
			color: #f0be43;
		}
		
		.ish--tc18 .ish-darken {
			color: #e3b136 !important;
		}
		
		.ish--bc18 {
			background-color: #f0be43;
		}
		.ish--tc19 {
			color: #502b46;
		}
		
		.ish--tc19 .ish-darken {
			color: #431e39 !important;
		}
		
		.ish--bc19 {
			background-color: #502b46;
		}
		.ish--tc20 {
			color: #672943;
		}
		
		.ish--tc20 .ish-darken {
			color: #5a1c36 !important;
		}
		
		.ish--bc20 {
			background-color: #672943;
		}
		.ish--tc21 {
			color: #9dbc96;
		}
		
		.ish--tc21 .ish-darken {
			color: #90af89 !important;
		}
		
		.ish--bc21 {
			background-color: #9dbc96;
		}
		.ish--tc22 {
			color: #0096BB;
		}
		
		.ish--tc22 .ish-darken {
			color: #0089ae !important;
		}
		
		.ish--bc22 {
			background-color: #0096BB;
		}
		.ish-color1 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color1 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color1 .ish-result-number,
		.ish-blog .ish-color1 .ish-underline:before,
		.ish-color1 .ish-underline:before,
		.ish-color1 .site-header .ish-container-fluid,
		.ish-color1 .site-header .ish-decor-container > div,
		.ish-color1 .site-header .ish-container-fluid.ish--bc1,
		.ish-color1 .ish-sidebar input,
		.ish-color1 .ish-sidebar button,
		.ish-color1 blockquote:before,
		.ish-color1 blockquote:after,
		.ish-color1 .comment-respond input.submit,
		.ish-color1 .ish-post-navigation a:hover span:before,
		.ish-color1 .post-password-form input[type='submit']
		{
			background-color: #9c27b0;
		}

		.ish-result.ish-color1 .ish-title a,
		.ish-color1 .ish-blog-post-title a,
		.ish-blog .ish-color1 .ish-blog-post-title a,
		.ish-color1 .ish-sidebar .widget-title,
		.ish-color1 .ish-sidebar .widget-title a,
		.ish-color1 .ish-sidebar .rsswidget,
		.ish-color1 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color1 .comments-title,
		.ish-color1 .comment-reply-title,
		header .site-branding span.ish--tc1
		{
			color: #9c27b0;
		}

		.ish-color1 .ish-main-content h1,
		.ish-color1 .ish-main-content h2,
		.ish-color1 .ish-main-content h3,
		.ish-color1 .ish-main-content h4,
		.ish-color1 .ish-main-content h5,
		.ish-color1 .ish-main-content h6,
		.ish-color1:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color1 .ish-main-content .bypostauthor .comment-author
		{
			color: #9c27b0;
		}

		body.ish-color1 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color1 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #9c27b0;
		}

		.ish-color1 .ish-sidebar button:hover,
		.ish-color1 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc1
		{
			background-color: #c24dd6;
		}

		.ish-color1 .comment-respond input.submit:hover 
		{
			background-color: #750089;
		}
		
		.ish--tc1 a:hover,
		a:hover.ish--tc1 
		{
			color: #c24dd6;
			
		}
		.ish-color2 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color2 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color2 .ish-result-number,
		.ish-blog .ish-color2 .ish-underline:before,
		.ish-color2 .ish-underline:before,
		.ish-color2 .site-header .ish-container-fluid,
		.ish-color2 .site-header .ish-decor-container > div,
		.ish-color2 .site-header .ish-container-fluid.ish--bc2,
		.ish-color2 .ish-sidebar input,
		.ish-color2 .ish-sidebar button,
		.ish-color2 blockquote:before,
		.ish-color2 blockquote:after,
		.ish-color2 .comment-respond input.submit,
		.ish-color2 .ish-post-navigation a:hover span:before,
		.ish-color2 .post-password-form input[type='submit']
		{
			background-color: #515151;
		}

		.ish-result.ish-color2 .ish-title a,
		.ish-color2 .ish-blog-post-title a,
		.ish-blog .ish-color2 .ish-blog-post-title a,
		.ish-color2 .ish-sidebar .widget-title,
		.ish-color2 .ish-sidebar .widget-title a,
		.ish-color2 .ish-sidebar .rsswidget,
		.ish-color2 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color2 .comments-title,
		.ish-color2 .comment-reply-title,
		header .site-branding span.ish--tc2
		{
			color: #515151;
		}

		.ish-color2 .ish-main-content h1,
		.ish-color2 .ish-main-content h2,
		.ish-color2 .ish-main-content h3,
		.ish-color2 .ish-main-content h4,
		.ish-color2 .ish-main-content h5,
		.ish-color2 .ish-main-content h6,
		.ish-color2:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color2 .ish-main-content .bypostauthor .comment-author
		{
			color: #515151;
		}

		body.ish-color2 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color2 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #515151;
		}

		.ish-color2 .ish-sidebar button:hover,
		.ish-color2 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc2
		{
			background-color: #777777;
		}

		.ish-color2 .comment-respond input.submit:hover 
		{
			background-color: #2a2a2a;
		}
		
		.ish--tc2 a:hover,
		a:hover.ish--tc2 
		{
			color: #777777;
			
		}
		.ish-color3 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color3 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color3 .ish-result-number,
		.ish-blog .ish-color3 .ish-underline:before,
		.ish-color3 .ish-underline:before,
		.ish-color3 .site-header .ish-container-fluid,
		.ish-color3 .site-header .ish-decor-container > div,
		.ish-color3 .site-header .ish-container-fluid.ish--bc3,
		.ish-color3 .ish-sidebar input,
		.ish-color3 .ish-sidebar button,
		.ish-color3 blockquote:before,
		.ish-color3 blockquote:after,
		.ish-color3 .comment-respond input.submit,
		.ish-color3 .ish-post-navigation a:hover span:before,
		.ish-color3 .post-password-form input[type='submit']
		{
			background-color: #fcfcfc;
		}

		.ish-result.ish-color3 .ish-title a,
		.ish-color3 .ish-blog-post-title a,
		.ish-blog .ish-color3 .ish-blog-post-title a,
		.ish-color3 .ish-sidebar .widget-title,
		.ish-color3 .ish-sidebar .widget-title a,
		.ish-color3 .ish-sidebar .rsswidget,
		.ish-color3 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color3 .comments-title,
		.ish-color3 .comment-reply-title,
		header .site-branding span.ish--tc3
		{
			color: #fcfcfc;
		}

		.ish-color3 .ish-main-content h1,
		.ish-color3 .ish-main-content h2,
		.ish-color3 .ish-main-content h3,
		.ish-color3 .ish-main-content h4,
		.ish-color3 .ish-main-content h5,
		.ish-color3 .ish-main-content h6,
		.ish-color3:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color3 .ish-main-content .bypostauthor .comment-author
		{
			color: #fcfcfc;
		}

		body.ish-color3 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color3 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #fcfcfc;
		}

		.ish-color3 .ish-sidebar button:hover,
		.ish-color3 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc3
		{
			background-color: #ffffff;
		}

		.ish-color3 .comment-respond input.submit:hover 
		{
			background-color: #d5d5d5;
		}
		
		.ish--tc3 a:hover,
		a:hover.ish--tc3 
		{
			color: #ffffff;
			
		}
		.ish-color4 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color4 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color4 .ish-result-number,
		.ish-blog .ish-color4 .ish-underline:before,
		.ish-color4 .ish-underline:before,
		.ish-color4 .site-header .ish-container-fluid,
		.ish-color4 .site-header .ish-decor-container > div,
		.ish-color4 .site-header .ish-container-fluid.ish--bc4,
		.ish-color4 .ish-sidebar input,
		.ish-color4 .ish-sidebar button,
		.ish-color4 blockquote:before,
		.ish-color4 blockquote:after,
		.ish-color4 .comment-respond input.submit,
		.ish-color4 .ish-post-navigation a:hover span:before,
		.ish-color4 .post-password-form input[type='submit']
		{
			background-color: #ffffff;
		}

		.ish-result.ish-color4 .ish-title a,
		.ish-color4 .ish-blog-post-title a,
		.ish-blog .ish-color4 .ish-blog-post-title a,
		.ish-color4 .ish-sidebar .widget-title,
		.ish-color4 .ish-sidebar .widget-title a,
		.ish-color4 .ish-sidebar .rsswidget,
		.ish-color4 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color4 .comments-title,
		.ish-color4 .comment-reply-title,
		header .site-branding span.ish--tc4
		{
			color: #ffffff;
		}

		.ish-color4 .ish-main-content h1,
		.ish-color4 .ish-main-content h2,
		.ish-color4 .ish-main-content h3,
		.ish-color4 .ish-main-content h4,
		.ish-color4 .ish-main-content h5,
		.ish-color4 .ish-main-content h6,
		.ish-color4:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color4 .ish-main-content .bypostauthor .comment-author
		{
			color: #ffffff;
		}

		body.ish-color4 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color4 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #ffffff;
		}

		.ish-color4 .ish-sidebar button:hover,
		.ish-color4 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc4
		{
			background-color: #ffffff;
		}

		.ish-color4 .comment-respond input.submit:hover 
		{
			background-color: #d8d8d8;
		}
		
		.ish--tc4 a:hover,
		a:hover.ish--tc4 
		{
			color: #ffffff;
			
		}
		.ish-color5 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color5 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color5 .ish-result-number,
		.ish-blog .ish-color5 .ish-underline:before,
		.ish-color5 .ish-underline:before,
		.ish-color5 .site-header .ish-container-fluid,
		.ish-color5 .site-header .ish-decor-container > div,
		.ish-color5 .site-header .ish-container-fluid.ish--bc5,
		.ish-color5 .ish-sidebar input,
		.ish-color5 .ish-sidebar button,
		.ish-color5 blockquote:before,
		.ish-color5 blockquote:after,
		.ish-color5 .comment-respond input.submit,
		.ish-color5 .ish-post-navigation a:hover span:before,
		.ish-color5 .post-password-form input[type='submit']
		{
			background-color: #7cd3ce;
		}

		.ish-result.ish-color5 .ish-title a,
		.ish-color5 .ish-blog-post-title a,
		.ish-blog .ish-color5 .ish-blog-post-title a,
		.ish-color5 .ish-sidebar .widget-title,
		.ish-color5 .ish-sidebar .widget-title a,
		.ish-color5 .ish-sidebar .rsswidget,
		.ish-color5 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color5 .comments-title,
		.ish-color5 .comment-reply-title,
		header .site-branding span.ish--tc5
		{
			color: #7cd3ce;
		}

		.ish-color5 .ish-main-content h1,
		.ish-color5 .ish-main-content h2,
		.ish-color5 .ish-main-content h3,
		.ish-color5 .ish-main-content h4,
		.ish-color5 .ish-main-content h5,
		.ish-color5 .ish-main-content h6,
		.ish-color5:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color5 .ish-main-content .bypostauthor .comment-author
		{
			color: #7cd3ce;
		}

		body.ish-color5 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color5 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #7cd3ce;
		}

		.ish-color5 .ish-sidebar button:hover,
		.ish-color5 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc5
		{
			background-color: #a2f9f4;
		}

		.ish-color5 .comment-respond input.submit:hover 
		{
			background-color: #55aca7;
		}
		
		.ish--tc5 a:hover,
		a:hover.ish--tc5 
		{
			color: #a2f9f4;
			
		}
		.ish-color6 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color6 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color6 .ish-result-number,
		.ish-blog .ish-color6 .ish-underline:before,
		.ish-color6 .ish-underline:before,
		.ish-color6 .site-header .ish-container-fluid,
		.ish-color6 .site-header .ish-decor-container > div,
		.ish-color6 .site-header .ish-container-fluid.ish--bc6,
		.ish-color6 .ish-sidebar input,
		.ish-color6 .ish-sidebar button,
		.ish-color6 blockquote:before,
		.ish-color6 blockquote:after,
		.ish-color6 .comment-respond input.submit,
		.ish-color6 .ish-post-navigation a:hover span:before,
		.ish-color6 .post-password-form input[type='submit']
		{
			background-color: #1cbbe3;
		}

		.ish-result.ish-color6 .ish-title a,
		.ish-color6 .ish-blog-post-title a,
		.ish-blog .ish-color6 .ish-blog-post-title a,
		.ish-color6 .ish-sidebar .widget-title,
		.ish-color6 .ish-sidebar .widget-title a,
		.ish-color6 .ish-sidebar .rsswidget,
		.ish-color6 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color6 .comments-title,
		.ish-color6 .comment-reply-title,
		header .site-branding span.ish--tc6
		{
			color: #1cbbe3;
		}

		.ish-color6 .ish-main-content h1,
		.ish-color6 .ish-main-content h2,
		.ish-color6 .ish-main-content h3,
		.ish-color6 .ish-main-content h4,
		.ish-color6 .ish-main-content h5,
		.ish-color6 .ish-main-content h6,
		.ish-color6:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color6 .ish-main-content .bypostauthor .comment-author
		{
			color: #1cbbe3;
		}

		body.ish-color6 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color6 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #1cbbe3;
		}

		.ish-color6 .ish-sidebar button:hover,
		.ish-color6 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc6
		{
			background-color: #42e1ff;
		}

		.ish-color6 .comment-respond input.submit:hover 
		{
			background-color: #0094bc;
		}
		
		.ish--tc6 a:hover,
		a:hover.ish--tc6 
		{
			color: #42e1ff;
			
		}
		.ish-color7 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color7 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color7 .ish-result-number,
		.ish-blog .ish-color7 .ish-underline:before,
		.ish-color7 .ish-underline:before,
		.ish-color7 .site-header .ish-container-fluid,
		.ish-color7 .site-header .ish-decor-container > div,
		.ish-color7 .site-header .ish-container-fluid.ish--bc7,
		.ish-color7 .ish-sidebar input,
		.ish-color7 .ish-sidebar button,
		.ish-color7 blockquote:before,
		.ish-color7 blockquote:after,
		.ish-color7 .comment-respond input.submit,
		.ish-color7 .ish-post-navigation a:hover span:before,
		.ish-color7 .post-password-form input[type='submit']
		{
			background-color: #c2bcb5;
		}

		.ish-result.ish-color7 .ish-title a,
		.ish-color7 .ish-blog-post-title a,
		.ish-blog .ish-color7 .ish-blog-post-title a,
		.ish-color7 .ish-sidebar .widget-title,
		.ish-color7 .ish-sidebar .widget-title a,
		.ish-color7 .ish-sidebar .rsswidget,
		.ish-color7 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color7 .comments-title,
		.ish-color7 .comment-reply-title,
		header .site-branding span.ish--tc7
		{
			color: #c2bcb5;
		}

		.ish-color7 .ish-main-content h1,
		.ish-color7 .ish-main-content h2,
		.ish-color7 .ish-main-content h3,
		.ish-color7 .ish-main-content h4,
		.ish-color7 .ish-main-content h5,
		.ish-color7 .ish-main-content h6,
		.ish-color7:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color7 .ish-main-content .bypostauthor .comment-author
		{
			color: #c2bcb5;
		}

		body.ish-color7 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color7 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #c2bcb5;
		}

		.ish-color7 .ish-sidebar button:hover,
		.ish-color7 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc7
		{
			background-color: #e8e2db;
		}

		.ish-color7 .comment-respond input.submit:hover 
		{
			background-color: #9b958e;
		}
		
		.ish--tc7 a:hover,
		a:hover.ish--tc7 
		{
			color: #e8e2db;
			
		}
		.ish-color8 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color8 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color8 .ish-result-number,
		.ish-blog .ish-color8 .ish-underline:before,
		.ish-color8 .ish-underline:before,
		.ish-color8 .site-header .ish-container-fluid,
		.ish-color8 .site-header .ish-decor-container > div,
		.ish-color8 .site-header .ish-container-fluid.ish--bc8,
		.ish-color8 .ish-sidebar input,
		.ish-color8 .ish-sidebar button,
		.ish-color8 blockquote:before,
		.ish-color8 blockquote:after,
		.ish-color8 .comment-respond input.submit,
		.ish-color8 .ish-post-navigation a:hover span:before,
		.ish-color8 .post-password-form input[type='submit']
		{
			background-color: #5dc4be;
		}

		.ish-result.ish-color8 .ish-title a,
		.ish-color8 .ish-blog-post-title a,
		.ish-blog .ish-color8 .ish-blog-post-title a,
		.ish-color8 .ish-sidebar .widget-title,
		.ish-color8 .ish-sidebar .widget-title a,
		.ish-color8 .ish-sidebar .rsswidget,
		.ish-color8 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color8 .comments-title,
		.ish-color8 .comment-reply-title,
		header .site-branding span.ish--tc8
		{
			color: #5dc4be;
		}

		.ish-color8 .ish-main-content h1,
		.ish-color8 .ish-main-content h2,
		.ish-color8 .ish-main-content h3,
		.ish-color8 .ish-main-content h4,
		.ish-color8 .ish-main-content h5,
		.ish-color8 .ish-main-content h6,
		.ish-color8:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color8 .ish-main-content .bypostauthor .comment-author
		{
			color: #5dc4be;
		}

		body.ish-color8 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color8 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #5dc4be;
		}

		.ish-color8 .ish-sidebar button:hover,
		.ish-color8 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc8
		{
			background-color: #83eae4;
		}

		.ish-color8 .comment-respond input.submit:hover 
		{
			background-color: #369d97;
		}
		
		.ish--tc8 a:hover,
		a:hover.ish--tc8 
		{
			color: #83eae4;
			
		}
		.ish-color9 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color9 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color9 .ish-result-number,
		.ish-blog .ish-color9 .ish-underline:before,
		.ish-color9 .ish-underline:before,
		.ish-color9 .site-header .ish-container-fluid,
		.ish-color9 .site-header .ish-decor-container > div,
		.ish-color9 .site-header .ish-container-fluid.ish--bc9,
		.ish-color9 .ish-sidebar input,
		.ish-color9 .ish-sidebar button,
		.ish-color9 blockquote:before,
		.ish-color9 blockquote:after,
		.ish-color9 .comment-respond input.submit,
		.ish-color9 .ish-post-navigation a:hover span:before,
		.ish-color9 .post-password-form input[type='submit']
		{
			background-color: #dd613b;
		}

		.ish-result.ish-color9 .ish-title a,
		.ish-color9 .ish-blog-post-title a,
		.ish-blog .ish-color9 .ish-blog-post-title a,
		.ish-color9 .ish-sidebar .widget-title,
		.ish-color9 .ish-sidebar .widget-title a,
		.ish-color9 .ish-sidebar .rsswidget,
		.ish-color9 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color9 .comments-title,
		.ish-color9 .comment-reply-title,
		header .site-branding span.ish--tc9
		{
			color: #dd613b;
		}

		.ish-color9 .ish-main-content h1,
		.ish-color9 .ish-main-content h2,
		.ish-color9 .ish-main-content h3,
		.ish-color9 .ish-main-content h4,
		.ish-color9 .ish-main-content h5,
		.ish-color9 .ish-main-content h6,
		.ish-color9:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color9 .ish-main-content .bypostauthor .comment-author
		{
			color: #dd613b;
		}

		body.ish-color9 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color9 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #dd613b;
		}

		.ish-color9 .ish-sidebar button:hover,
		.ish-color9 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc9
		{
			background-color: #ff8761;
		}

		.ish-color9 .comment-respond input.submit:hover 
		{
			background-color: #b63a14;
		}
		
		.ish--tc9 a:hover,
		a:hover.ish--tc9 
		{
			color: #ff8761;
			
		}
		.ish-color10 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color10 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color10 .ish-result-number,
		.ish-blog .ish-color10 .ish-underline:before,
		.ish-color10 .ish-underline:before,
		.ish-color10 .site-header .ish-container-fluid,
		.ish-color10 .site-header .ish-decor-container > div,
		.ish-color10 .site-header .ish-container-fluid.ish--bc10,
		.ish-color10 .ish-sidebar input,
		.ish-color10 .ish-sidebar button,
		.ish-color10 blockquote:before,
		.ish-color10 blockquote:after,
		.ish-color10 .comment-respond input.submit,
		.ish-color10 .ish-post-navigation a:hover span:before,
		.ish-color10 .post-password-form input[type='submit']
		{
			background-color: #a1744f;
		}

		.ish-result.ish-color10 .ish-title a,
		.ish-color10 .ish-blog-post-title a,
		.ish-blog .ish-color10 .ish-blog-post-title a,
		.ish-color10 .ish-sidebar .widget-title,
		.ish-color10 .ish-sidebar .widget-title a,
		.ish-color10 .ish-sidebar .rsswidget,
		.ish-color10 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color10 .comments-title,
		.ish-color10 .comment-reply-title,
		header .site-branding span.ish--tc10
		{
			color: #a1744f;
		}

		.ish-color10 .ish-main-content h1,
		.ish-color10 .ish-main-content h2,
		.ish-color10 .ish-main-content h3,
		.ish-color10 .ish-main-content h4,
		.ish-color10 .ish-main-content h5,
		.ish-color10 .ish-main-content h6,
		.ish-color10:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color10 .ish-main-content .bypostauthor .comment-author
		{
			color: #a1744f;
		}

		body.ish-color10 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color10 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #a1744f;
		}

		.ish-color10 .ish-sidebar button:hover,
		.ish-color10 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc10
		{
			background-color: #c79a75;
		}

		.ish-color10 .comment-respond input.submit:hover 
		{
			background-color: #7a4d28;
		}
		
		.ish--tc10 a:hover,
		a:hover.ish--tc10 
		{
			color: #c79a75;
			
		}
		.ish-color11 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color11 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color11 .ish-result-number,
		.ish-blog .ish-color11 .ish-underline:before,
		.ish-color11 .ish-underline:before,
		.ish-color11 .site-header .ish-container-fluid,
		.ish-color11 .site-header .ish-decor-container > div,
		.ish-color11 .site-header .ish-container-fluid.ish--bc11,
		.ish-color11 .ish-sidebar input,
		.ish-color11 .ish-sidebar button,
		.ish-color11 blockquote:before,
		.ish-color11 blockquote:after,
		.ish-color11 .comment-respond input.submit,
		.ish-color11 .ish-post-navigation a:hover span:before,
		.ish-color11 .post-password-form input[type='submit']
		{
			background-color: #37bdb6;
		}

		.ish-result.ish-color11 .ish-title a,
		.ish-color11 .ish-blog-post-title a,
		.ish-blog .ish-color11 .ish-blog-post-title a,
		.ish-color11 .ish-sidebar .widget-title,
		.ish-color11 .ish-sidebar .widget-title a,
		.ish-color11 .ish-sidebar .rsswidget,
		.ish-color11 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color11 .comments-title,
		.ish-color11 .comment-reply-title,
		header .site-branding span.ish--tc11
		{
			color: #37bdb6;
		}

		.ish-color11 .ish-main-content h1,
		.ish-color11 .ish-main-content h2,
		.ish-color11 .ish-main-content h3,
		.ish-color11 .ish-main-content h4,
		.ish-color11 .ish-main-content h5,
		.ish-color11 .ish-main-content h6,
		.ish-color11:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color11 .ish-main-content .bypostauthor .comment-author
		{
			color: #37bdb6;
		}

		body.ish-color11 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color11 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #37bdb6;
		}

		.ish-color11 .ish-sidebar button:hover,
		.ish-color11 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc11
		{
			background-color: #5de3dc;
		}

		.ish-color11 .comment-respond input.submit:hover 
		{
			background-color: #10968f;
		}
		
		.ish--tc11 a:hover,
		a:hover.ish--tc11 
		{
			color: #5de3dc;
			
		}
		.ish-color12 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color12 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color12 .ish-result-number,
		.ish-blog .ish-color12 .ish-underline:before,
		.ish-color12 .ish-underline:before,
		.ish-color12 .site-header .ish-container-fluid,
		.ish-color12 .site-header .ish-decor-container > div,
		.ish-color12 .site-header .ish-container-fluid.ish--bc12,
		.ish-color12 .ish-sidebar input,
		.ish-color12 .ish-sidebar button,
		.ish-color12 blockquote:before,
		.ish-color12 blockquote:after,
		.ish-color12 .comment-respond input.submit,
		.ish-color12 .ish-post-navigation a:hover span:before,
		.ish-color12 .post-password-form input[type='submit']
		{
			background-color: #bda949;
		}

		.ish-result.ish-color12 .ish-title a,
		.ish-color12 .ish-blog-post-title a,
		.ish-blog .ish-color12 .ish-blog-post-title a,
		.ish-color12 .ish-sidebar .widget-title,
		.ish-color12 .ish-sidebar .widget-title a,
		.ish-color12 .ish-sidebar .rsswidget,
		.ish-color12 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color12 .comments-title,
		.ish-color12 .comment-reply-title,
		header .site-branding span.ish--tc12
		{
			color: #bda949;
		}

		.ish-color12 .ish-main-content h1,
		.ish-color12 .ish-main-content h2,
		.ish-color12 .ish-main-content h3,
		.ish-color12 .ish-main-content h4,
		.ish-color12 .ish-main-content h5,
		.ish-color12 .ish-main-content h6,
		.ish-color12:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color12 .ish-main-content .bypostauthor .comment-author
		{
			color: #bda949;
		}

		body.ish-color12 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color12 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #bda949;
		}

		.ish-color12 .ish-sidebar button:hover,
		.ish-color12 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc12
		{
			background-color: #e3cf6f;
		}

		.ish-color12 .comment-respond input.submit:hover 
		{
			background-color: #968222;
		}
		
		.ish--tc12 a:hover,
		a:hover.ish--tc12 
		{
			color: #e3cf6f;
			
		}
		.ish-color13 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color13 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color13 .ish-result-number,
		.ish-blog .ish-color13 .ish-underline:before,
		.ish-color13 .ish-underline:before,
		.ish-color13 .site-header .ish-container-fluid,
		.ish-color13 .site-header .ish-decor-container > div,
		.ish-color13 .site-header .ish-container-fluid.ish--bc13,
		.ish-color13 .ish-sidebar input,
		.ish-color13 .ish-sidebar button,
		.ish-color13 blockquote:before,
		.ish-color13 blockquote:after,
		.ish-color13 .comment-respond input.submit,
		.ish-color13 .ish-post-navigation a:hover span:before,
		.ish-color13 .post-password-form input[type='submit']
		{
			background-color: #f3d600;
		}

		.ish-result.ish-color13 .ish-title a,
		.ish-color13 .ish-blog-post-title a,
		.ish-blog .ish-color13 .ish-blog-post-title a,
		.ish-color13 .ish-sidebar .widget-title,
		.ish-color13 .ish-sidebar .widget-title a,
		.ish-color13 .ish-sidebar .rsswidget,
		.ish-color13 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color13 .comments-title,
		.ish-color13 .comment-reply-title,
		header .site-branding span.ish--tc13
		{
			color: #f3d600;
		}

		.ish-color13 .ish-main-content h1,
		.ish-color13 .ish-main-content h2,
		.ish-color13 .ish-main-content h3,
		.ish-color13 .ish-main-content h4,
		.ish-color13 .ish-main-content h5,
		.ish-color13 .ish-main-content h6,
		.ish-color13:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color13 .ish-main-content .bypostauthor .comment-author
		{
			color: #f3d600;
		}

		body.ish-color13 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color13 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #f3d600;
		}

		.ish-color13 .ish-sidebar button:hover,
		.ish-color13 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc13
		{
			background-color: #fffc26;
		}

		.ish-color13 .comment-respond input.submit:hover 
		{
			background-color: #ccaf00;
		}
		
		.ish--tc13 a:hover,
		a:hover.ish--tc13 
		{
			color: #fffc26;
			
		}
		.ish-color14 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color14 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color14 .ish-result-number,
		.ish-blog .ish-color14 .ish-underline:before,
		.ish-color14 .ish-underline:before,
		.ish-color14 .site-header .ish-container-fluid,
		.ish-color14 .site-header .ish-decor-container > div,
		.ish-color14 .site-header .ish-container-fluid.ish--bc14,
		.ish-color14 .ish-sidebar input,
		.ish-color14 .ish-sidebar button,
		.ish-color14 blockquote:before,
		.ish-color14 blockquote:after,
		.ish-color14 .comment-respond input.submit,
		.ish-color14 .ish-post-navigation a:hover span:before,
		.ish-color14 .post-password-form input[type='submit']
		{
			background-color: #acde61;
		}

		.ish-result.ish-color14 .ish-title a,
		.ish-color14 .ish-blog-post-title a,
		.ish-blog .ish-color14 .ish-blog-post-title a,
		.ish-color14 .ish-sidebar .widget-title,
		.ish-color14 .ish-sidebar .widget-title a,
		.ish-color14 .ish-sidebar .rsswidget,
		.ish-color14 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color14 .comments-title,
		.ish-color14 .comment-reply-title,
		header .site-branding span.ish--tc14
		{
			color: #acde61;
		}

		.ish-color14 .ish-main-content h1,
		.ish-color14 .ish-main-content h2,
		.ish-color14 .ish-main-content h3,
		.ish-color14 .ish-main-content h4,
		.ish-color14 .ish-main-content h5,
		.ish-color14 .ish-main-content h6,
		.ish-color14:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color14 .ish-main-content .bypostauthor .comment-author
		{
			color: #acde61;
		}

		body.ish-color14 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color14 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #acde61;
		}

		.ish-color14 .ish-sidebar button:hover,
		.ish-color14 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc14
		{
			background-color: #d2ff87;
		}

		.ish-color14 .comment-respond input.submit:hover 
		{
			background-color: #85b73a;
		}
		
		.ish--tc14 a:hover,
		a:hover.ish--tc14 
		{
			color: #d2ff87;
			
		}
		.ish-color15 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color15 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color15 .ish-result-number,
		.ish-blog .ish-color15 .ish-underline:before,
		.ish-color15 .ish-underline:before,
		.ish-color15 .site-header .ish-container-fluid,
		.ish-color15 .site-header .ish-decor-container > div,
		.ish-color15 .site-header .ish-container-fluid.ish--bc15,
		.ish-color15 .ish-sidebar input,
		.ish-color15 .ish-sidebar button,
		.ish-color15 blockquote:before,
		.ish-color15 blockquote:after,
		.ish-color15 .comment-respond input.submit,
		.ish-color15 .ish-post-navigation a:hover span:before,
		.ish-color15 .post-password-form input[type='submit']
		{
			background-color: #f33131;
		}

		.ish-result.ish-color15 .ish-title a,
		.ish-color15 .ish-blog-post-title a,
		.ish-blog .ish-color15 .ish-blog-post-title a,
		.ish-color15 .ish-sidebar .widget-title,
		.ish-color15 .ish-sidebar .widget-title a,
		.ish-color15 .ish-sidebar .rsswidget,
		.ish-color15 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color15 .comments-title,
		.ish-color15 .comment-reply-title,
		header .site-branding span.ish--tc15
		{
			color: #f33131;
		}

		.ish-color15 .ish-main-content h1,
		.ish-color15 .ish-main-content h2,
		.ish-color15 .ish-main-content h3,
		.ish-color15 .ish-main-content h4,
		.ish-color15 .ish-main-content h5,
		.ish-color15 .ish-main-content h6,
		.ish-color15:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color15 .ish-main-content .bypostauthor .comment-author
		{
			color: #f33131;
		}

		body.ish-color15 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color15 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #f33131;
		}

		.ish-color15 .ish-sidebar button:hover,
		.ish-color15 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc15
		{
			background-color: #ff5757;
		}

		.ish-color15 .comment-respond input.submit:hover 
		{
			background-color: #cc0a0a;
		}
		
		.ish--tc15 a:hover,
		a:hover.ish--tc15 
		{
			color: #ff5757;
			
		}
		.ish-color16 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color16 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color16 .ish-result-number,
		.ish-blog .ish-color16 .ish-underline:before,
		.ish-color16 .ish-underline:before,
		.ish-color16 .site-header .ish-container-fluid,
		.ish-color16 .site-header .ish-decor-container > div,
		.ish-color16 .site-header .ish-container-fluid.ish--bc16,
		.ish-color16 .ish-sidebar input,
		.ish-color16 .ish-sidebar button,
		.ish-color16 blockquote:before,
		.ish-color16 blockquote:after,
		.ish-color16 .comment-respond input.submit,
		.ish-color16 .ish-post-navigation a:hover span:before,
		.ish-color16 .post-password-form input[type='submit']
		{
			background-color: #4be5c3;
		}

		.ish-result.ish-color16 .ish-title a,
		.ish-color16 .ish-blog-post-title a,
		.ish-blog .ish-color16 .ish-blog-post-title a,
		.ish-color16 .ish-sidebar .widget-title,
		.ish-color16 .ish-sidebar .widget-title a,
		.ish-color16 .ish-sidebar .rsswidget,
		.ish-color16 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color16 .comments-title,
		.ish-color16 .comment-reply-title,
		header .site-branding span.ish--tc16
		{
			color: #4be5c3;
		}

		.ish-color16 .ish-main-content h1,
		.ish-color16 .ish-main-content h2,
		.ish-color16 .ish-main-content h3,
		.ish-color16 .ish-main-content h4,
		.ish-color16 .ish-main-content h5,
		.ish-color16 .ish-main-content h6,
		.ish-color16:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color16 .ish-main-content .bypostauthor .comment-author
		{
			color: #4be5c3;
		}

		body.ish-color16 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color16 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #4be5c3;
		}

		.ish-color16 .ish-sidebar button:hover,
		.ish-color16 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc16
		{
			background-color: #71ffe9;
		}

		.ish-color16 .comment-respond input.submit:hover 
		{
			background-color: #24be9c;
		}
		
		.ish--tc16 a:hover,
		a:hover.ish--tc16 
		{
			color: #71ffe9;
			
		}
		.ish-color17 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color17 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color17 .ish-result-number,
		.ish-blog .ish-color17 .ish-underline:before,
		.ish-color17 .ish-underline:before,
		.ish-color17 .site-header .ish-container-fluid,
		.ish-color17 .site-header .ish-decor-container > div,
		.ish-color17 .site-header .ish-container-fluid.ish--bc17,
		.ish-color17 .ish-sidebar input,
		.ish-color17 .ish-sidebar button,
		.ish-color17 blockquote:before,
		.ish-color17 blockquote:after,
		.ish-color17 .comment-respond input.submit,
		.ish-color17 .ish-post-navigation a:hover span:before,
		.ish-color17 .post-password-form input[type='submit']
		{
			background-color: #d4c873;
		}

		.ish-result.ish-color17 .ish-title a,
		.ish-color17 .ish-blog-post-title a,
		.ish-blog .ish-color17 .ish-blog-post-title a,
		.ish-color17 .ish-sidebar .widget-title,
		.ish-color17 .ish-sidebar .widget-title a,
		.ish-color17 .ish-sidebar .rsswidget,
		.ish-color17 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color17 .comments-title,
		.ish-color17 .comment-reply-title,
		header .site-branding span.ish--tc17
		{
			color: #d4c873;
		}

		.ish-color17 .ish-main-content h1,
		.ish-color17 .ish-main-content h2,
		.ish-color17 .ish-main-content h3,
		.ish-color17 .ish-main-content h4,
		.ish-color17 .ish-main-content h5,
		.ish-color17 .ish-main-content h6,
		.ish-color17:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color17 .ish-main-content .bypostauthor .comment-author
		{
			color: #d4c873;
		}

		body.ish-color17 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color17 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #d4c873;
		}

		.ish-color17 .ish-sidebar button:hover,
		.ish-color17 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc17
		{
			background-color: #faee99;
		}

		.ish-color17 .comment-respond input.submit:hover 
		{
			background-color: #ada14c;
		}
		
		.ish--tc17 a:hover,
		a:hover.ish--tc17 
		{
			color: #faee99;
			
		}
		.ish-color18 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color18 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color18 .ish-result-number,
		.ish-blog .ish-color18 .ish-underline:before,
		.ish-color18 .ish-underline:before,
		.ish-color18 .site-header .ish-container-fluid,
		.ish-color18 .site-header .ish-decor-container > div,
		.ish-color18 .site-header .ish-container-fluid.ish--bc18,
		.ish-color18 .ish-sidebar input,
		.ish-color18 .ish-sidebar button,
		.ish-color18 blockquote:before,
		.ish-color18 blockquote:after,
		.ish-color18 .comment-respond input.submit,
		.ish-color18 .ish-post-navigation a:hover span:before,
		.ish-color18 .post-password-form input[type='submit']
		{
			background-color: #f0be43;
		}

		.ish-result.ish-color18 .ish-title a,
		.ish-color18 .ish-blog-post-title a,
		.ish-blog .ish-color18 .ish-blog-post-title a,
		.ish-color18 .ish-sidebar .widget-title,
		.ish-color18 .ish-sidebar .widget-title a,
		.ish-color18 .ish-sidebar .rsswidget,
		.ish-color18 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color18 .comments-title,
		.ish-color18 .comment-reply-title,
		header .site-branding span.ish--tc18
		{
			color: #f0be43;
		}

		.ish-color18 .ish-main-content h1,
		.ish-color18 .ish-main-content h2,
		.ish-color18 .ish-main-content h3,
		.ish-color18 .ish-main-content h4,
		.ish-color18 .ish-main-content h5,
		.ish-color18 .ish-main-content h6,
		.ish-color18:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color18 .ish-main-content .bypostauthor .comment-author
		{
			color: #f0be43;
		}

		body.ish-color18 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color18 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #f0be43;
		}

		.ish-color18 .ish-sidebar button:hover,
		.ish-color18 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc18
		{
			background-color: #ffe469;
		}

		.ish-color18 .comment-respond input.submit:hover 
		{
			background-color: #c9971c;
		}
		
		.ish--tc18 a:hover,
		a:hover.ish--tc18 
		{
			color: #ffe469;
			
		}
		.ish-color19 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color19 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color19 .ish-result-number,
		.ish-blog .ish-color19 .ish-underline:before,
		.ish-color19 .ish-underline:before,
		.ish-color19 .site-header .ish-container-fluid,
		.ish-color19 .site-header .ish-decor-container > div,
		.ish-color19 .site-header .ish-container-fluid.ish--bc19,
		.ish-color19 .ish-sidebar input,
		.ish-color19 .ish-sidebar button,
		.ish-color19 blockquote:before,
		.ish-color19 blockquote:after,
		.ish-color19 .comment-respond input.submit,
		.ish-color19 .ish-post-navigation a:hover span:before,
		.ish-color19 .post-password-form input[type='submit']
		{
			background-color: #502b46;
		}

		.ish-result.ish-color19 .ish-title a,
		.ish-color19 .ish-blog-post-title a,
		.ish-blog .ish-color19 .ish-blog-post-title a,
		.ish-color19 .ish-sidebar .widget-title,
		.ish-color19 .ish-sidebar .widget-title a,
		.ish-color19 .ish-sidebar .rsswidget,
		.ish-color19 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color19 .comments-title,
		.ish-color19 .comment-reply-title,
		header .site-branding span.ish--tc19
		{
			color: #502b46;
		}

		.ish-color19 .ish-main-content h1,
		.ish-color19 .ish-main-content h2,
		.ish-color19 .ish-main-content h3,
		.ish-color19 .ish-main-content h4,
		.ish-color19 .ish-main-content h5,
		.ish-color19 .ish-main-content h6,
		.ish-color19:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color19 .ish-main-content .bypostauthor .comment-author
		{
			color: #502b46;
		}

		body.ish-color19 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color19 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #502b46;
		}

		.ish-color19 .ish-sidebar button:hover,
		.ish-color19 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc19
		{
			background-color: #76516c;
		}

		.ish-color19 .comment-respond input.submit:hover 
		{
			background-color: #29041f;
		}
		
		.ish--tc19 a:hover,
		a:hover.ish--tc19 
		{
			color: #76516c;
			
		}
		.ish-color20 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color20 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color20 .ish-result-number,
		.ish-blog .ish-color20 .ish-underline:before,
		.ish-color20 .ish-underline:before,
		.ish-color20 .site-header .ish-container-fluid,
		.ish-color20 .site-header .ish-decor-container > div,
		.ish-color20 .site-header .ish-container-fluid.ish--bc20,
		.ish-color20 .ish-sidebar input,
		.ish-color20 .ish-sidebar button,
		.ish-color20 blockquote:before,
		.ish-color20 blockquote:after,
		.ish-color20 .comment-respond input.submit,
		.ish-color20 .ish-post-navigation a:hover span:before,
		.ish-color20 .post-password-form input[type='submit']
		{
			background-color: #672943;
		}

		.ish-result.ish-color20 .ish-title a,
		.ish-color20 .ish-blog-post-title a,
		.ish-blog .ish-color20 .ish-blog-post-title a,
		.ish-color20 .ish-sidebar .widget-title,
		.ish-color20 .ish-sidebar .widget-title a,
		.ish-color20 .ish-sidebar .rsswidget,
		.ish-color20 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color20 .comments-title,
		.ish-color20 .comment-reply-title,
		header .site-branding span.ish--tc20
		{
			color: #672943;
		}

		.ish-color20 .ish-main-content h1,
		.ish-color20 .ish-main-content h2,
		.ish-color20 .ish-main-content h3,
		.ish-color20 .ish-main-content h4,
		.ish-color20 .ish-main-content h5,
		.ish-color20 .ish-main-content h6,
		.ish-color20:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color20 .ish-main-content .bypostauthor .comment-author
		{
			color: #672943;
		}

		body.ish-color20 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color20 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #672943;
		}

		.ish-color20 .ish-sidebar button:hover,
		.ish-color20 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc20
		{
			background-color: #8d4f69;
		}

		.ish-color20 .comment-respond input.submit:hover 
		{
			background-color: #40021c;
		}
		
		.ish--tc20 a:hover,
		a:hover.ish--tc20 
		{
			color: #8d4f69;
			
		}
		.ish-color21 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color21 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color21 .ish-result-number,
		.ish-blog .ish-color21 .ish-underline:before,
		.ish-color21 .ish-underline:before,
		.ish-color21 .site-header .ish-container-fluid,
		.ish-color21 .site-header .ish-decor-container > div,
		.ish-color21 .site-header .ish-container-fluid.ish--bc21,
		.ish-color21 .ish-sidebar input,
		.ish-color21 .ish-sidebar button,
		.ish-color21 blockquote:before,
		.ish-color21 blockquote:after,
		.ish-color21 .comment-respond input.submit,
		.ish-color21 .ish-post-navigation a:hover span:before,
		.ish-color21 .post-password-form input[type='submit']
		{
			background-color: #9dbc96;
		}

		.ish-result.ish-color21 .ish-title a,
		.ish-color21 .ish-blog-post-title a,
		.ish-blog .ish-color21 .ish-blog-post-title a,
		.ish-color21 .ish-sidebar .widget-title,
		.ish-color21 .ish-sidebar .widget-title a,
		.ish-color21 .ish-sidebar .rsswidget,
		.ish-color21 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color21 .comments-title,
		.ish-color21 .comment-reply-title,
		header .site-branding span.ish--tc21
		{
			color: #9dbc96;
		}

		.ish-color21 .ish-main-content h1,
		.ish-color21 .ish-main-content h2,
		.ish-color21 .ish-main-content h3,
		.ish-color21 .ish-main-content h4,
		.ish-color21 .ish-main-content h5,
		.ish-color21 .ish-main-content h6,
		.ish-color21:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color21 .ish-main-content .bypostauthor .comment-author
		{
			color: #9dbc96;
		}

		body.ish-color21 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color21 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #9dbc96;
		}

		.ish-color21 .ish-sidebar button:hover,
		.ish-color21 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc21
		{
			background-color: #c3e2bc;
		}

		.ish-color21 .comment-respond input.submit:hover 
		{
			background-color: #76956f;
		}
		
		.ish--tc21 a:hover,
		a:hover.ish--tc21 
		{
			color: #c3e2bc;
			
		}
		.ish-color22 .ish-sticky-on .ish-logo-container .ish-logo-box,
		.ish-color22 .ish-sticky-on .ish-menu-container .ish-icon-nav,
		.ish-result.ish-color22 .ish-result-number,
		.ish-blog .ish-color22 .ish-underline:before,
		.ish-color22 .ish-underline:before,
		.ish-color22 .site-header .ish-container-fluid,
		.ish-color22 .site-header .ish-decor-container > div,
		.ish-color22 .site-header .ish-container-fluid.ish--bc22,
		.ish-color22 .ish-sidebar input,
		.ish-color22 .ish-sidebar button,
		.ish-color22 blockquote:before,
		.ish-color22 blockquote:after,
		.ish-color22 .comment-respond input.submit,
		.ish-color22 .ish-post-navigation a:hover span:before,
		.ish-color22 .post-password-form input[type='submit']
		{
			background-color: #0096BB;
		}

		.ish-result.ish-color22 .ish-title a,
		.ish-color22 .ish-blog-post-title a,
		.ish-blog .ish-color22 .ish-blog-post-title a,
		.ish-color22 .ish-sidebar .widget-title,
		.ish-color22 .ish-sidebar .widget-title a,
		.ish-color22 .ish-sidebar .rsswidget,
		.ish-color22 .ish-sidebar a:not( .ish-read-more ):not( .time ):not( .social-icon ):hover,
		.ish-color22 .comments-title,
		.ish-color22 .comment-reply-title,
		header .site-branding span.ish--tc22
		{
			color: #0096BB;
		}

		.ish-color22 .ish-main-content h1,
		.ish-color22 .ish-main-content h2,
		.ish-color22 .ish-main-content h3,
		.ish-color22 .ish-main-content h4,
		.ish-color22 .ish-main-content h5,
		.ish-color22 .ish-main-content h6,
		.ish-color22:not( .search-results ) .ish-main-content a:not( .ish-underline ):not( .ish-sc-element ):not( .ish-sc-title ):hover,
		.ish-color22 .ish-main-content .bypostauthor .comment-author
		{
			color: #0096BB;
		}

		body.ish-color22 .ish-pflo-content .post-meta .post-meta-key,
		body.ish-color22 .ish-pflo-meta .post-meta .post-meta-key 
		{
			color: #0096BB;
		}

		.ish-color22 .ish-sidebar button:hover,
		.ish-color22 .post-password-form input[type='submit']:hover,
		a:hover.ish--bc22
		{
			background-color: #26bce1;
		}

		.ish-color22 .comment-respond input.submit:hover 
		{
			background-color: #006f94;
		}
		
		.ish--tc22 a:hover,
		a:hover.ish--tc22 
		{
			color: #26bce1;
			
		}
	.ish-nav-container .ish-search-submit:hover,
	.ish-navigation .ish-social-box a:hover,
	.ish-footer .ish-social-box a:hover,
	.ish-social-box a:hover 
	{
		color: #9c27b0;
	}
	
	.ish-sticky-on .ish-logo-container .ish-logo-box,
	.ish-sticky-on .ish-menu-container .ish-icon-nav,
	.ish-navigation ul li.ish-active-item span:before,
	.ish-navigation ul li.current-menu-item span:before,
	.ish-navigation ul li.current-menu-ancestor span:before,
	.ish-navigation ul li.ish-hover > a span:before,
	.ish-page-numbers:hover,
	.ish-page-numbers.ish-next,
	.ish-page-numbers.ish-prev.ish-disabled,
	.ish-page-numbers.ish-prev.ish-disabled:hover,
	#infinite-handle,
	.ish-footer a:hover:before,
	.ish-back-to-top a.ish-hover span:before,
	.ish-footer .ish-underline:before,
	.ish-navigation .ish-underline:before 
	{
		background-color: #9c27b0;
	}
	
	html,
	a,
	.ish-title,
	.ish-main-content .no-results .page-title,
	form input::placeholder,
	form textarea::placeholder,
	#content .ish-social-box a
	{
	  color: #515151;
	}
	
	.ish-contact-form-box h3 
	{
		color: #515151 !important;
	}
	
	.ish-navigation .ish-nav-close,
	.ish-navigation ul ul a,
	.ish-navigation .ish-social-box a,
	.ish-footer,
	.ish-social-box a,
	.ish-footer .ish-social-box a,
	#content .ish-social-box a:hover,
	.ish-widget-element input::placeholder,
	.ish-widget-element textarea::placeholder,
	#ish-contact-form button[type="submit"]:hover,
	.contact-form input[type="submit"]:hover,
	.wpcf7-form input[type="submit"]:hover 
	{
		color: #a7a7a7;
	}
	
	.ish-navigation .ish-nav-container-bg,
	.ish-navigation .ish-nav-bg,
	.ish-page-numbers,
	.ish-page-numbers.ish-next:hover,
	.ish-page-numbers.ish-next.ish-disabled,
	.ish-page-numbers.ish-next.ish-disabled:hover,
	#infinite-handle:hover,
	.ish-navigation .ish-nav-close,
	pre, hr,
	.ish-blurred-overlay
	{
		background-color: #515151;
	}
	
	.comment-respond input,
	.comment-respond textarea,
	select,
	.ish-widget-element input[type="submit"] 
	{
		background-color: #777777;
	}
	
	
	.comment-respond input:hover,
	.comment-respond textarea:hover,
	.ish-widget-element input[type="submit"]:hover 
	{
		background-color: #848484;
	}
	
	
	.ish-shadow-image .ish-item .ish-img .ish-placeholder,
	.ish-item .ish-img .ish-placeholder 
	{
		background-color: #f1f1f1;
	}
	
	
	.sharedaddy h3.sd-title 
	{
		border-color: #777777;
	}
	
	
	.ish-sidebar
	{
		border-color: #eaeaea;
	}
	
	
	.ish--tc3 a,
	.ish-navigation a,
	.ish-navigation,
	.ish-page-numbers,
	#infinite-handle,
	.ish-footer a,
	.ish-result .ish-result-number,
	.ish-sidebar .ish-widget-element input::placeholder,
	.ish-sidebar .ish-widget-element textarea::placeholder,
	pre,
	.comment-respond input,
	.comment-respond textarea,
	.comment-respond input::placeholder,
	.comment-respond textarea::placeholder,
	header .site-branding span,
	header .site-branding .ish-underline,
	.post-password-form input[type='submit']
	{
		color: #fcfcfc;
	}
	
	.ish-portfolio-navigation a:hover span:before,
	header .site-branding .ish-underline:before 
	{
		background-color: #fcfcfc;
	}
	
	mark,
	.ish-sidebar input,
	.ish-sidebar button 
	{
		color: #ffffff;
	}
	
	.tiled-gallery-caption 
	{
		color: #ffffff !important;
	}
	
	mark 
	{
		background-color: #acde61;
	}
	
	.tiled-gallery-caption 
	{
		background-color: #000000 !important;
	}
	
	
	form input.invalid,
	form textarea.invalid 
	{
		border-top-color: #ff0000;
	}
	
	.required-error:before,
	.required-error:after 
	{
		color: #ff0000;
	}
	
	div.wpcf7-validation-errors 
	{
		border-color: #ff0000;
	}
	
	
	@keyframes animateBgColor
	{
		25%  {background: #7cd3ce;}
		50%  {background: #f3d600;}
		75%  {background: #1cbbe3;}
	}
	
		.ish-sc-accordion.ish--bc1 dt,
		.ish-sc-toggle.ish--bc1 dt,
		.ish-sc-tabs.ish--bc1 .ish-active-item
		{
			background-color: #9c27b0;
		}

		.ish-sc-element.ish--tc1 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc1 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc1 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc1 dt a,
		.ish-sc-toggle.ish--tc1 dt a
		{
			color: #9c27b0;
		}

		.ish-sc-accordion.ish--bc1 dt,
		.ish-sc-accordion.ish--bc1 dd,
		.ish-sc-toggle.ish--bc1 dt,
		.ish-sc-toggle.ish--bc1 dd,
		.ish-sc-tabs.ish--bc1 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc1 .ish-tabs 
		{
			border-color: #9c27b0;
		}

		.ish-sc-button:hover.ish--bc1,
		.ish-sc-accordion.ish--bc1 dt:hover,
		.ish-sc-toggle.ish--bc1 dt:hover,
		.ish-sc-tabs.ish--bc1 .ish-tabs-menu li:hover
		{
			background-color: #c24dd6;
		}
		
		.ish-sc-accordion.ish--bc1 dt:hover,
		.ish-sc-accordion.ish--bc1 dt:hover + dd,
		.ish-sc-toggle.ish--bc1 dt:hover,
		.ish-sc-toggle.ish--bc1 dt:hover + dd,
		.ish-sc-tabs.ish--bc1 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #c24dd6;
			
		}
		.ish-sc-accordion.ish--bc2 dt,
		.ish-sc-toggle.ish--bc2 dt,
		.ish-sc-tabs.ish--bc2 .ish-active-item
		{
			background-color: #515151;
		}

		.ish-sc-element.ish--tc2 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc2 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc2 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc2 dt a,
		.ish-sc-toggle.ish--tc2 dt a
		{
			color: #515151;
		}

		.ish-sc-accordion.ish--bc2 dt,
		.ish-sc-accordion.ish--bc2 dd,
		.ish-sc-toggle.ish--bc2 dt,
		.ish-sc-toggle.ish--bc2 dd,
		.ish-sc-tabs.ish--bc2 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc2 .ish-tabs 
		{
			border-color: #515151;
		}

		.ish-sc-button:hover.ish--bc2,
		.ish-sc-accordion.ish--bc2 dt:hover,
		.ish-sc-toggle.ish--bc2 dt:hover,
		.ish-sc-tabs.ish--bc2 .ish-tabs-menu li:hover
		{
			background-color: #777777;
		}
		
		.ish-sc-accordion.ish--bc2 dt:hover,
		.ish-sc-accordion.ish--bc2 dt:hover + dd,
		.ish-sc-toggle.ish--bc2 dt:hover,
		.ish-sc-toggle.ish--bc2 dt:hover + dd,
		.ish-sc-tabs.ish--bc2 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #777777;
			
		}
		.ish-sc-accordion.ish--bc3 dt,
		.ish-sc-toggle.ish--bc3 dt,
		.ish-sc-tabs.ish--bc3 .ish-active-item
		{
			background-color: #fcfcfc;
		}

		.ish-sc-element.ish--tc3 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc3 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc3 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc3 dt a,
		.ish-sc-toggle.ish--tc3 dt a
		{
			color: #fcfcfc;
		}

		.ish-sc-accordion.ish--bc3 dt,
		.ish-sc-accordion.ish--bc3 dd,
		.ish-sc-toggle.ish--bc3 dt,
		.ish-sc-toggle.ish--bc3 dd,
		.ish-sc-tabs.ish--bc3 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc3 .ish-tabs 
		{
			border-color: #fcfcfc;
		}

		.ish-sc-button:hover.ish--bc3,
		.ish-sc-accordion.ish--bc3 dt:hover,
		.ish-sc-toggle.ish--bc3 dt:hover,
		.ish-sc-tabs.ish--bc3 .ish-tabs-menu li:hover
		{
			background-color: #ffffff;
		}
		
		.ish-sc-accordion.ish--bc3 dt:hover,
		.ish-sc-accordion.ish--bc3 dt:hover + dd,
		.ish-sc-toggle.ish--bc3 dt:hover,
		.ish-sc-toggle.ish--bc3 dt:hover + dd,
		.ish-sc-tabs.ish--bc3 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #ffffff;
			
		}
		.ish-sc-accordion.ish--bc4 dt,
		.ish-sc-toggle.ish--bc4 dt,
		.ish-sc-tabs.ish--bc4 .ish-active-item
		{
			background-color: #ffffff;
		}

		.ish-sc-element.ish--tc4 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc4 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc4 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc4 dt a,
		.ish-sc-toggle.ish--tc4 dt a
		{
			color: #ffffff;
		}

		.ish-sc-accordion.ish--bc4 dt,
		.ish-sc-accordion.ish--bc4 dd,
		.ish-sc-toggle.ish--bc4 dt,
		.ish-sc-toggle.ish--bc4 dd,
		.ish-sc-tabs.ish--bc4 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc4 .ish-tabs 
		{
			border-color: #ffffff;
		}

		.ish-sc-button:hover.ish--bc4,
		.ish-sc-accordion.ish--bc4 dt:hover,
		.ish-sc-toggle.ish--bc4 dt:hover,
		.ish-sc-tabs.ish--bc4 .ish-tabs-menu li:hover
		{
			background-color: #ffffff;
		}
		
		.ish-sc-accordion.ish--bc4 dt:hover,
		.ish-sc-accordion.ish--bc4 dt:hover + dd,
		.ish-sc-toggle.ish--bc4 dt:hover,
		.ish-sc-toggle.ish--bc4 dt:hover + dd,
		.ish-sc-tabs.ish--bc4 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #ffffff;
			
		}
		.ish-sc-accordion.ish--bc5 dt,
		.ish-sc-toggle.ish--bc5 dt,
		.ish-sc-tabs.ish--bc5 .ish-active-item
		{
			background-color: #7cd3ce;
		}

		.ish-sc-element.ish--tc5 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc5 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc5 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc5 dt a,
		.ish-sc-toggle.ish--tc5 dt a
		{
			color: #7cd3ce;
		}

		.ish-sc-accordion.ish--bc5 dt,
		.ish-sc-accordion.ish--bc5 dd,
		.ish-sc-toggle.ish--bc5 dt,
		.ish-sc-toggle.ish--bc5 dd,
		.ish-sc-tabs.ish--bc5 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc5 .ish-tabs 
		{
			border-color: #7cd3ce;
		}

		.ish-sc-button:hover.ish--bc5,
		.ish-sc-accordion.ish--bc5 dt:hover,
		.ish-sc-toggle.ish--bc5 dt:hover,
		.ish-sc-tabs.ish--bc5 .ish-tabs-menu li:hover
		{
			background-color: #a2f9f4;
		}
		
		.ish-sc-accordion.ish--bc5 dt:hover,
		.ish-sc-accordion.ish--bc5 dt:hover + dd,
		.ish-sc-toggle.ish--bc5 dt:hover,
		.ish-sc-toggle.ish--bc5 dt:hover + dd,
		.ish-sc-tabs.ish--bc5 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #a2f9f4;
			
		}
		.ish-sc-accordion.ish--bc6 dt,
		.ish-sc-toggle.ish--bc6 dt,
		.ish-sc-tabs.ish--bc6 .ish-active-item
		{
			background-color: #1cbbe3;
		}

		.ish-sc-element.ish--tc6 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc6 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc6 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc6 dt a,
		.ish-sc-toggle.ish--tc6 dt a
		{
			color: #1cbbe3;
		}

		.ish-sc-accordion.ish--bc6 dt,
		.ish-sc-accordion.ish--bc6 dd,
		.ish-sc-toggle.ish--bc6 dt,
		.ish-sc-toggle.ish--bc6 dd,
		.ish-sc-tabs.ish--bc6 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc6 .ish-tabs 
		{
			border-color: #1cbbe3;
		}

		.ish-sc-button:hover.ish--bc6,
		.ish-sc-accordion.ish--bc6 dt:hover,
		.ish-sc-toggle.ish--bc6 dt:hover,
		.ish-sc-tabs.ish--bc6 .ish-tabs-menu li:hover
		{
			background-color: #42e1ff;
		}
		
		.ish-sc-accordion.ish--bc6 dt:hover,
		.ish-sc-accordion.ish--bc6 dt:hover + dd,
		.ish-sc-toggle.ish--bc6 dt:hover,
		.ish-sc-toggle.ish--bc6 dt:hover + dd,
		.ish-sc-tabs.ish--bc6 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #42e1ff;
			
		}
		.ish-sc-accordion.ish--bc7 dt,
		.ish-sc-toggle.ish--bc7 dt,
		.ish-sc-tabs.ish--bc7 .ish-active-item
		{
			background-color: #c2bcb5;
		}

		.ish-sc-element.ish--tc7 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc7 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc7 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc7 dt a,
		.ish-sc-toggle.ish--tc7 dt a
		{
			color: #c2bcb5;
		}

		.ish-sc-accordion.ish--bc7 dt,
		.ish-sc-accordion.ish--bc7 dd,
		.ish-sc-toggle.ish--bc7 dt,
		.ish-sc-toggle.ish--bc7 dd,
		.ish-sc-tabs.ish--bc7 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc7 .ish-tabs 
		{
			border-color: #c2bcb5;
		}

		.ish-sc-button:hover.ish--bc7,
		.ish-sc-accordion.ish--bc7 dt:hover,
		.ish-sc-toggle.ish--bc7 dt:hover,
		.ish-sc-tabs.ish--bc7 .ish-tabs-menu li:hover
		{
			background-color: #e8e2db;
		}
		
		.ish-sc-accordion.ish--bc7 dt:hover,
		.ish-sc-accordion.ish--bc7 dt:hover + dd,
		.ish-sc-toggle.ish--bc7 dt:hover,
		.ish-sc-toggle.ish--bc7 dt:hover + dd,
		.ish-sc-tabs.ish--bc7 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #e8e2db;
			
		}
		.ish-sc-accordion.ish--bc8 dt,
		.ish-sc-toggle.ish--bc8 dt,
		.ish-sc-tabs.ish--bc8 .ish-active-item
		{
			background-color: #5dc4be;
		}

		.ish-sc-element.ish--tc8 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc8 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc8 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc8 dt a,
		.ish-sc-toggle.ish--tc8 dt a
		{
			color: #5dc4be;
		}

		.ish-sc-accordion.ish--bc8 dt,
		.ish-sc-accordion.ish--bc8 dd,
		.ish-sc-toggle.ish--bc8 dt,
		.ish-sc-toggle.ish--bc8 dd,
		.ish-sc-tabs.ish--bc8 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc8 .ish-tabs 
		{
			border-color: #5dc4be;
		}

		.ish-sc-button:hover.ish--bc8,
		.ish-sc-accordion.ish--bc8 dt:hover,
		.ish-sc-toggle.ish--bc8 dt:hover,
		.ish-sc-tabs.ish--bc8 .ish-tabs-menu li:hover
		{
			background-color: #83eae4;
		}
		
		.ish-sc-accordion.ish--bc8 dt:hover,
		.ish-sc-accordion.ish--bc8 dt:hover + dd,
		.ish-sc-toggle.ish--bc8 dt:hover,
		.ish-sc-toggle.ish--bc8 dt:hover + dd,
		.ish-sc-tabs.ish--bc8 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #83eae4;
			
		}
		.ish-sc-accordion.ish--bc9 dt,
		.ish-sc-toggle.ish--bc9 dt,
		.ish-sc-tabs.ish--bc9 .ish-active-item
		{
			background-color: #dd613b;
		}

		.ish-sc-element.ish--tc9 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc9 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc9 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc9 dt a,
		.ish-sc-toggle.ish--tc9 dt a
		{
			color: #dd613b;
		}

		.ish-sc-accordion.ish--bc9 dt,
		.ish-sc-accordion.ish--bc9 dd,
		.ish-sc-toggle.ish--bc9 dt,
		.ish-sc-toggle.ish--bc9 dd,
		.ish-sc-tabs.ish--bc9 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc9 .ish-tabs 
		{
			border-color: #dd613b;
		}

		.ish-sc-button:hover.ish--bc9,
		.ish-sc-accordion.ish--bc9 dt:hover,
		.ish-sc-toggle.ish--bc9 dt:hover,
		.ish-sc-tabs.ish--bc9 .ish-tabs-menu li:hover
		{
			background-color: #ff8761;
		}
		
		.ish-sc-accordion.ish--bc9 dt:hover,
		.ish-sc-accordion.ish--bc9 dt:hover + dd,
		.ish-sc-toggle.ish--bc9 dt:hover,
		.ish-sc-toggle.ish--bc9 dt:hover + dd,
		.ish-sc-tabs.ish--bc9 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #ff8761;
			
		}
		.ish-sc-accordion.ish--bc10 dt,
		.ish-sc-toggle.ish--bc10 dt,
		.ish-sc-tabs.ish--bc10 .ish-active-item
		{
			background-color: #a1744f;
		}

		.ish-sc-element.ish--tc10 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc10 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc10 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc10 dt a,
		.ish-sc-toggle.ish--tc10 dt a
		{
			color: #a1744f;
		}

		.ish-sc-accordion.ish--bc10 dt,
		.ish-sc-accordion.ish--bc10 dd,
		.ish-sc-toggle.ish--bc10 dt,
		.ish-sc-toggle.ish--bc10 dd,
		.ish-sc-tabs.ish--bc10 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc10 .ish-tabs 
		{
			border-color: #a1744f;
		}

		.ish-sc-button:hover.ish--bc10,
		.ish-sc-accordion.ish--bc10 dt:hover,
		.ish-sc-toggle.ish--bc10 dt:hover,
		.ish-sc-tabs.ish--bc10 .ish-tabs-menu li:hover
		{
			background-color: #c79a75;
		}
		
		.ish-sc-accordion.ish--bc10 dt:hover,
		.ish-sc-accordion.ish--bc10 dt:hover + dd,
		.ish-sc-toggle.ish--bc10 dt:hover,
		.ish-sc-toggle.ish--bc10 dt:hover + dd,
		.ish-sc-tabs.ish--bc10 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #c79a75;
			
		}
		.ish-sc-accordion.ish--bc11 dt,
		.ish-sc-toggle.ish--bc11 dt,
		.ish-sc-tabs.ish--bc11 .ish-active-item
		{
			background-color: #37bdb6;
		}

		.ish-sc-element.ish--tc11 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc11 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc11 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc11 dt a,
		.ish-sc-toggle.ish--tc11 dt a
		{
			color: #37bdb6;
		}

		.ish-sc-accordion.ish--bc11 dt,
		.ish-sc-accordion.ish--bc11 dd,
		.ish-sc-toggle.ish--bc11 dt,
		.ish-sc-toggle.ish--bc11 dd,
		.ish-sc-tabs.ish--bc11 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc11 .ish-tabs 
		{
			border-color: #37bdb6;
		}

		.ish-sc-button:hover.ish--bc11,
		.ish-sc-accordion.ish--bc11 dt:hover,
		.ish-sc-toggle.ish--bc11 dt:hover,
		.ish-sc-tabs.ish--bc11 .ish-tabs-menu li:hover
		{
			background-color: #5de3dc;
		}
		
		.ish-sc-accordion.ish--bc11 dt:hover,
		.ish-sc-accordion.ish--bc11 dt:hover + dd,
		.ish-sc-toggle.ish--bc11 dt:hover,
		.ish-sc-toggle.ish--bc11 dt:hover + dd,
		.ish-sc-tabs.ish--bc11 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #5de3dc;
			
		}
		.ish-sc-accordion.ish--bc12 dt,
		.ish-sc-toggle.ish--bc12 dt,
		.ish-sc-tabs.ish--bc12 .ish-active-item
		{
			background-color: #bda949;
		}

		.ish-sc-element.ish--tc12 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc12 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc12 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc12 dt a,
		.ish-sc-toggle.ish--tc12 dt a
		{
			color: #bda949;
		}

		.ish-sc-accordion.ish--bc12 dt,
		.ish-sc-accordion.ish--bc12 dd,
		.ish-sc-toggle.ish--bc12 dt,
		.ish-sc-toggle.ish--bc12 dd,
		.ish-sc-tabs.ish--bc12 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc12 .ish-tabs 
		{
			border-color: #bda949;
		}

		.ish-sc-button:hover.ish--bc12,
		.ish-sc-accordion.ish--bc12 dt:hover,
		.ish-sc-toggle.ish--bc12 dt:hover,
		.ish-sc-tabs.ish--bc12 .ish-tabs-menu li:hover
		{
			background-color: #e3cf6f;
		}
		
		.ish-sc-accordion.ish--bc12 dt:hover,
		.ish-sc-accordion.ish--bc12 dt:hover + dd,
		.ish-sc-toggle.ish--bc12 dt:hover,
		.ish-sc-toggle.ish--bc12 dt:hover + dd,
		.ish-sc-tabs.ish--bc12 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #e3cf6f;
			
		}
		.ish-sc-accordion.ish--bc13 dt,
		.ish-sc-toggle.ish--bc13 dt,
		.ish-sc-tabs.ish--bc13 .ish-active-item
		{
			background-color: #f3d600;
		}

		.ish-sc-element.ish--tc13 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc13 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc13 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc13 dt a,
		.ish-sc-toggle.ish--tc13 dt a
		{
			color: #f3d600;
		}

		.ish-sc-accordion.ish--bc13 dt,
		.ish-sc-accordion.ish--bc13 dd,
		.ish-sc-toggle.ish--bc13 dt,
		.ish-sc-toggle.ish--bc13 dd,
		.ish-sc-tabs.ish--bc13 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc13 .ish-tabs 
		{
			border-color: #f3d600;
		}

		.ish-sc-button:hover.ish--bc13,
		.ish-sc-accordion.ish--bc13 dt:hover,
		.ish-sc-toggle.ish--bc13 dt:hover,
		.ish-sc-tabs.ish--bc13 .ish-tabs-menu li:hover
		{
			background-color: #fffc26;
		}
		
		.ish-sc-accordion.ish--bc13 dt:hover,
		.ish-sc-accordion.ish--bc13 dt:hover + dd,
		.ish-sc-toggle.ish--bc13 dt:hover,
		.ish-sc-toggle.ish--bc13 dt:hover + dd,
		.ish-sc-tabs.ish--bc13 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #fffc26;
			
		}
		.ish-sc-accordion.ish--bc14 dt,
		.ish-sc-toggle.ish--bc14 dt,
		.ish-sc-tabs.ish--bc14 .ish-active-item
		{
			background-color: #acde61;
		}

		.ish-sc-element.ish--tc14 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc14 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc14 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc14 dt a,
		.ish-sc-toggle.ish--tc14 dt a
		{
			color: #acde61;
		}

		.ish-sc-accordion.ish--bc14 dt,
		.ish-sc-accordion.ish--bc14 dd,
		.ish-sc-toggle.ish--bc14 dt,
		.ish-sc-toggle.ish--bc14 dd,
		.ish-sc-tabs.ish--bc14 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc14 .ish-tabs 
		{
			border-color: #acde61;
		}

		.ish-sc-button:hover.ish--bc14,
		.ish-sc-accordion.ish--bc14 dt:hover,
		.ish-sc-toggle.ish--bc14 dt:hover,
		.ish-sc-tabs.ish--bc14 .ish-tabs-menu li:hover
		{
			background-color: #d2ff87;
		}
		
		.ish-sc-accordion.ish--bc14 dt:hover,
		.ish-sc-accordion.ish--bc14 dt:hover + dd,
		.ish-sc-toggle.ish--bc14 dt:hover,
		.ish-sc-toggle.ish--bc14 dt:hover + dd,
		.ish-sc-tabs.ish--bc14 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #d2ff87;
			
		}
		.ish-sc-accordion.ish--bc15 dt,
		.ish-sc-toggle.ish--bc15 dt,
		.ish-sc-tabs.ish--bc15 .ish-active-item
		{
			background-color: #f33131;
		}

		.ish-sc-element.ish--tc15 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc15 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc15 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc15 dt a,
		.ish-sc-toggle.ish--tc15 dt a
		{
			color: #f33131;
		}

		.ish-sc-accordion.ish--bc15 dt,
		.ish-sc-accordion.ish--bc15 dd,
		.ish-sc-toggle.ish--bc15 dt,
		.ish-sc-toggle.ish--bc15 dd,
		.ish-sc-tabs.ish--bc15 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc15 .ish-tabs 
		{
			border-color: #f33131;
		}

		.ish-sc-button:hover.ish--bc15,
		.ish-sc-accordion.ish--bc15 dt:hover,
		.ish-sc-toggle.ish--bc15 dt:hover,
		.ish-sc-tabs.ish--bc15 .ish-tabs-menu li:hover
		{
			background-color: #ff5757;
		}
		
		.ish-sc-accordion.ish--bc15 dt:hover,
		.ish-sc-accordion.ish--bc15 dt:hover + dd,
		.ish-sc-toggle.ish--bc15 dt:hover,
		.ish-sc-toggle.ish--bc15 dt:hover + dd,
		.ish-sc-tabs.ish--bc15 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #ff5757;
			
		}
		.ish-sc-accordion.ish--bc16 dt,
		.ish-sc-toggle.ish--bc16 dt,
		.ish-sc-tabs.ish--bc16 .ish-active-item
		{
			background-color: #4be5c3;
		}

		.ish-sc-element.ish--tc16 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc16 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc16 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc16 dt a,
		.ish-sc-toggle.ish--tc16 dt a
		{
			color: #4be5c3;
		}

		.ish-sc-accordion.ish--bc16 dt,
		.ish-sc-accordion.ish--bc16 dd,
		.ish-sc-toggle.ish--bc16 dt,
		.ish-sc-toggle.ish--bc16 dd,
		.ish-sc-tabs.ish--bc16 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc16 .ish-tabs 
		{
			border-color: #4be5c3;
		}

		.ish-sc-button:hover.ish--bc16,
		.ish-sc-accordion.ish--bc16 dt:hover,
		.ish-sc-toggle.ish--bc16 dt:hover,
		.ish-sc-tabs.ish--bc16 .ish-tabs-menu li:hover
		{
			background-color: #71ffe9;
		}
		
		.ish-sc-accordion.ish--bc16 dt:hover,
		.ish-sc-accordion.ish--bc16 dt:hover + dd,
		.ish-sc-toggle.ish--bc16 dt:hover,
		.ish-sc-toggle.ish--bc16 dt:hover + dd,
		.ish-sc-tabs.ish--bc16 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #71ffe9;
			
		}
		.ish-sc-accordion.ish--bc17 dt,
		.ish-sc-toggle.ish--bc17 dt,
		.ish-sc-tabs.ish--bc17 .ish-active-item
		{
			background-color: #d4c873;
		}

		.ish-sc-element.ish--tc17 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc17 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc17 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc17 dt a,
		.ish-sc-toggle.ish--tc17 dt a
		{
			color: #d4c873;
		}

		.ish-sc-accordion.ish--bc17 dt,
		.ish-sc-accordion.ish--bc17 dd,
		.ish-sc-toggle.ish--bc17 dt,
		.ish-sc-toggle.ish--bc17 dd,
		.ish-sc-tabs.ish--bc17 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc17 .ish-tabs 
		{
			border-color: #d4c873;
		}

		.ish-sc-button:hover.ish--bc17,
		.ish-sc-accordion.ish--bc17 dt:hover,
		.ish-sc-toggle.ish--bc17 dt:hover,
		.ish-sc-tabs.ish--bc17 .ish-tabs-menu li:hover
		{
			background-color: #faee99;
		}
		
		.ish-sc-accordion.ish--bc17 dt:hover,
		.ish-sc-accordion.ish--bc17 dt:hover + dd,
		.ish-sc-toggle.ish--bc17 dt:hover,
		.ish-sc-toggle.ish--bc17 dt:hover + dd,
		.ish-sc-tabs.ish--bc17 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #faee99;
			
		}
		.ish-sc-accordion.ish--bc18 dt,
		.ish-sc-toggle.ish--bc18 dt,
		.ish-sc-tabs.ish--bc18 .ish-active-item
		{
			background-color: #f0be43;
		}

		.ish-sc-element.ish--tc18 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc18 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc18 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc18 dt a,
		.ish-sc-toggle.ish--tc18 dt a
		{
			color: #f0be43;
		}

		.ish-sc-accordion.ish--bc18 dt,
		.ish-sc-accordion.ish--bc18 dd,
		.ish-sc-toggle.ish--bc18 dt,
		.ish-sc-toggle.ish--bc18 dd,
		.ish-sc-tabs.ish--bc18 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc18 .ish-tabs 
		{
			border-color: #f0be43;
		}

		.ish-sc-button:hover.ish--bc18,
		.ish-sc-accordion.ish--bc18 dt:hover,
		.ish-sc-toggle.ish--bc18 dt:hover,
		.ish-sc-tabs.ish--bc18 .ish-tabs-menu li:hover
		{
			background-color: #ffe469;
		}
		
		.ish-sc-accordion.ish--bc18 dt:hover,
		.ish-sc-accordion.ish--bc18 dt:hover + dd,
		.ish-sc-toggle.ish--bc18 dt:hover,
		.ish-sc-toggle.ish--bc18 dt:hover + dd,
		.ish-sc-tabs.ish--bc18 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #ffe469;
			
		}
		.ish-sc-accordion.ish--bc19 dt,
		.ish-sc-toggle.ish--bc19 dt,
		.ish-sc-tabs.ish--bc19 .ish-active-item
		{
			background-color: #502b46;
		}

		.ish-sc-element.ish--tc19 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc19 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc19 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc19 dt a,
		.ish-sc-toggle.ish--tc19 dt a
		{
			color: #502b46;
		}

		.ish-sc-accordion.ish--bc19 dt,
		.ish-sc-accordion.ish--bc19 dd,
		.ish-sc-toggle.ish--bc19 dt,
		.ish-sc-toggle.ish--bc19 dd,
		.ish-sc-tabs.ish--bc19 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc19 .ish-tabs 
		{
			border-color: #502b46;
		}

		.ish-sc-button:hover.ish--bc19,
		.ish-sc-accordion.ish--bc19 dt:hover,
		.ish-sc-toggle.ish--bc19 dt:hover,
		.ish-sc-tabs.ish--bc19 .ish-tabs-menu li:hover
		{
			background-color: #76516c;
		}
		
		.ish-sc-accordion.ish--bc19 dt:hover,
		.ish-sc-accordion.ish--bc19 dt:hover + dd,
		.ish-sc-toggle.ish--bc19 dt:hover,
		.ish-sc-toggle.ish--bc19 dt:hover + dd,
		.ish-sc-tabs.ish--bc19 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #76516c;
			
		}
		.ish-sc-accordion.ish--bc20 dt,
		.ish-sc-toggle.ish--bc20 dt,
		.ish-sc-tabs.ish--bc20 .ish-active-item
		{
			background-color: #672943;
		}

		.ish-sc-element.ish--tc20 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc20 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc20 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc20 dt a,
		.ish-sc-toggle.ish--tc20 dt a
		{
			color: #672943;
		}

		.ish-sc-accordion.ish--bc20 dt,
		.ish-sc-accordion.ish--bc20 dd,
		.ish-sc-toggle.ish--bc20 dt,
		.ish-sc-toggle.ish--bc20 dd,
		.ish-sc-tabs.ish--bc20 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc20 .ish-tabs 
		{
			border-color: #672943;
		}

		.ish-sc-button:hover.ish--bc20,
		.ish-sc-accordion.ish--bc20 dt:hover,
		.ish-sc-toggle.ish--bc20 dt:hover,
		.ish-sc-tabs.ish--bc20 .ish-tabs-menu li:hover
		{
			background-color: #8d4f69;
		}
		
		.ish-sc-accordion.ish--bc20 dt:hover,
		.ish-sc-accordion.ish--bc20 dt:hover + dd,
		.ish-sc-toggle.ish--bc20 dt:hover,
		.ish-sc-toggle.ish--bc20 dt:hover + dd,
		.ish-sc-tabs.ish--bc20 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #8d4f69;
			
		}
		.ish-sc-accordion.ish--bc21 dt,
		.ish-sc-toggle.ish--bc21 dt,
		.ish-sc-tabs.ish--bc21 .ish-active-item
		{
			background-color: #9dbc96;
		}

		.ish-sc-element.ish--tc21 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc21 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc21 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc21 dt a,
		.ish-sc-toggle.ish--tc21 dt a
		{
			color: #9dbc96;
		}

		.ish-sc-accordion.ish--bc21 dt,
		.ish-sc-accordion.ish--bc21 dd,
		.ish-sc-toggle.ish--bc21 dt,
		.ish-sc-toggle.ish--bc21 dd,
		.ish-sc-tabs.ish--bc21 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc21 .ish-tabs 
		{
			border-color: #9dbc96;
		}

		.ish-sc-button:hover.ish--bc21,
		.ish-sc-accordion.ish--bc21 dt:hover,
		.ish-sc-toggle.ish--bc21 dt:hover,
		.ish-sc-tabs.ish--bc21 .ish-tabs-menu li:hover
		{
			background-color: #c3e2bc;
		}
		
		.ish-sc-accordion.ish--bc21 dt:hover,
		.ish-sc-accordion.ish--bc21 dt:hover + dd,
		.ish-sc-toggle.ish--bc21 dt:hover,
		.ish-sc-toggle.ish--bc21 dt:hover + dd,
		.ish-sc-tabs.ish--bc21 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #c3e2bc;
			
		}
		.ish-sc-accordion.ish--bc22 dt,
		.ish-sc-toggle.ish--bc22 dt,
		.ish-sc-tabs.ish--bc22 .ish-active-item
		{
			background-color: #0096BB;
		}

		.ish-sc-element.ish--tc22 a:not( .ish-sc-title ),
		.ish-sc-tabs.ish--tc22 .ish-tabs-menu .ish-active-item a,
		.ish-sc-tabs.ish--tc22 .ish-tabs-menu li:hover a,
		.ish-sc-accordion.ish--tc22 dt a,
		.ish-sc-toggle.ish--tc22 dt a
		{
			color: #0096BB;
		}

		.ish-sc-accordion.ish--bc22 dt,
		.ish-sc-accordion.ish--bc22 dd,
		.ish-sc-toggle.ish--bc22 dt,
		.ish-sc-toggle.ish--bc22 dd,
		.ish-sc-tabs.ish--bc22 .ish-tabs-menu .ish-active-item,
		.ish-sc-tabs.ish--bc22 .ish-tabs 
		{
			border-color: #0096BB;
		}

		.ish-sc-button:hover.ish--bc22,
		.ish-sc-accordion.ish--bc22 dt:hover,
		.ish-sc-toggle.ish--bc22 dt:hover,
		.ish-sc-tabs.ish--bc22 .ish-tabs-menu li:hover
		{
			background-color: #26bce1;
		}
		
		.ish-sc-accordion.ish--bc22 dt:hover,
		.ish-sc-accordion.ish--bc22 dt:hover + dd,
		.ish-sc-toggle.ish--bc22 dt:hover,
		.ish-sc-toggle.ish--bc22 dt:hover + dd,
		.ish-sc-tabs.ish--bc22 .ish-tabs-menu .ish-active-item:hover 
		{
			border-color: #26bce1;
			
		}
	.ish-sc-tabs .ish-tabs,
	.ish-sc-accordion dd,
	.ish-sc-toggle dd
	{
	  color: #515151;
	}
	
	.ish-sc-button:not( [class*='ish--tc'] )
	{
		color: #fcfcfc;
	}
	
	.ish-sc-accordion[class*='ish--bc'] dt,
	.ish-sc-accordion[class*='ish--bc']:not( [class*='ish--tc'] ) dt a,
	.ish-sc-toggle[class*='ish--bc'] dt,
	.ish-sc-toggle[class*='ish--bc']:not( [class*='ish--tc'] ) dt a,
	.ish-sc-tabs[class*='ish--bc']:not( [class*='ish--tc'] ) .ish-tabs-menu .ish-active-item a,
	.ish-sc-tabs[class*='ish--bc']:not( [class*='ish--tc'] ) .ish-tabs-menu li:hover a
	{
		color: #ffffff;
	}
	